.flex-row {
    display: flex;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.margin-t-sm { 
    margin-top: 8px;
}

.margin-l-sm {
    margin-left: 8px;
}

button {
    margin-left: 8px;
    height: fit-content;
}

input {
    margin-left: 8px;
}